{% extends "AppBundle:Layouts:layout.html.twig"%}
{% trans_default_domain 'FOSUserBundle' %}

{% block content%}

<div class="global">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 margBot pull-left slider-box">
                    <div class="content-box1">
                        <h2 class="color2 text-center">
                            <span>Registro Usuario 
                            </span>
                        </h2>

                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <h3 class="font-green">Register Form</h3>
    <div class="form-group">
        {{ form_widget(form.username, { 'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'User Name'} }) }}
        {% for errorItem in form.username.vars.errors %}
        <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'E-mail'} }) }}
        {% for errorItem in form.email.vars.errors %}
        <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Password'} }) }}
        {% for errorItem in form.plainPassword.first.vars.errors %}
        <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Repeat Password'} }) }}
        {% for errorItem in form.plainPassword.second.vars.errors %}
        <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>
    <div class="form-actions">
        <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Regreso a login</a>
        <button type="submit" id="register-submit-btn" class="btn btn-success">Enviar</button>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
                        
                        
                    </div>
                    <!--bootstrap slider starts-->
                    
                        
                    </div>
                    
                </div>
                <!--bootstrap slider ends-->
                
                
            </div>
            
        </div>
        

        
    </div>
    </div> </div>

    {% endblock%}