{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block content%}

<div class="global">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 margBot pull-left slider-box">
                    <div class="content-box1">
                        <h2 class="color2 text-center">
                            <span>Ingrese la información 
                            </span>
                        </h2>

                        {% block body %}

    {{ form_start(form) }}

        
        {{ form_widget(form) }}
    
     

        <a class="btn btn-success btn-lg" href="{{ path('experiencia_new') }}"><span class="glyphicon glyphicon-plus">Agregar Experiencia Laboral</span></a><br><br>
        <input type="submit" value="Guardar" class="btn btn-success" />
    {{ form_end(form) }}

    

    
            <a href="{{ path('curriculum_index') }}" class="btn btn-info">Regresar al listado</a>
    
{% endblock %}
                        
                    </div>
                    <!--bootstrap slider starts-->
                    
                        
                    </div>
                    
                </div>
                <!--bootstrap slider ends-->
                
                
            </div>
            
        </div>
        

        
    </div>
    </div> </div>

    {% endblock%}